    
      
      <!-- Slider Start -->
      <div class = "flexslider">
        <ul class = "slides">
          <li>
             <%= image_tag "2.jpg" %>
          </li>
          <li>
             <%= image_tag "rsz_hotel-kurma3.jpg" %>
          </li>

          <li>
             <%= image_tag "3.jpg" %>
          </li>
        </ul>
      </div>
      <!-- Slider End -->
      <!--Site Slogan  -->
      <div class="ui-grid-solo">
      
        <h1 class="intro">Eating healthy today, keeps the Doctor away!</h1>
      </div>

        <div cl ass="clleft blocks">
           
            <h3>About Mess Management Software</h3>
            <p>Bhatia to Harbhajan Singh, 1 run, very full but quicker too, outside the off stump and driven down the ground for a single</p>
        </div>
        <!-- End Block One -->
        <!-- Block Two -->
        

        
        <div class="footer text-center">
            <a href="/home/sachin/Desktop/jFlatu/termandcondition.html">Terms and Conditions </a>
          <p>COPYRIGHT 2013. ALL RIGHTS RESERVED!</p>
        </div>
        <!-- /footer -->
  
